<?xml version="1.0" encoding="utf-8"?>
<!-- 
Copyright (c) Bentley Systems, Incorporated. All rights reserved.
See LICENSE.md in the project root for license terms and full copyright notice.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.itwin.mobilesdk">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>