name: Android CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest
    environment: CI

    steps:
    - name: Checkout mobile-sdk-android
      uses: actions/checkout@v5
      with:
        path: mobile-sdk-android

    - name: set up JDK 17
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v3

    - name: Build mobile-sdk-android
      run: |
        cd mobile-sdk-android
        chmod +x gradlew
        ./gradlew detekt build
      env:
        USERNAME: ${{ github.actor }}
        TOKEN: ${{ secrets.GITHUB_TOKEN }}
